body {margin:auto; background-color: rgb(9, 243, 204);}
a:hover {color: blue; text-decoration: none;}

h1 {color: yellow;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;}
    
div {color: rgb(250, 252, 252);}

li {font-size: x-large; font-weight: bold;}

ul li {color: blue;}

ol {color: red;}

p {font-size: larger; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

#ramen-list li {color: green;}
#ramen-ol li {color: blueviolet;}
#Admiralh1 {color: yellow;
            font-weight: bold;
            text-shadow:0px 0px 3px black,
            0px 0px 3px black;
            background-color:rgb(243, 198, 0);}

